<!DOCTYPE html>


<html lang="en">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>



{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% endblock %}


{% block body %}
    <body>
    <!-- 背景div，充满整个页面 -->
    <div class="bg"
    style="        display: table;
        width: 100%;
        height: 100%;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;
        background-color: rgba(111, 125, 183, 0.72);
        background-size: cover;">
    </div>

    </body>
{% endblock %}


<!--返回按钮-->
{% block btn_back %}
    <button type="button" class="btn btn-default btn-lg" style="color:brown">
        <a href="/"> <span class="glyphicon glyphicon-log-out"></span></a>
    </button>
{% endblock %}


</html>