{% extends "base.html" %}

{% block body %}
    <body>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <a class="btn btn-block active" type="button"
                   href="{{ url_for("analyse", current_button="统计数据", current_class_id=current_class_id,
                   date=date, time_start=time_start, subject_id=subject_id) }}">
                    <div id="btn_1">统计<br>数据</div>
                </a>
                <a class="btn btn-block active" type="button"
                   href="{{ url_for("analyse", current_button="原始数据", current_class_id=current_class_id,
                   date=date, time_start=time_start, subject_id=subject_id) }}">
                    <div id="btn_1">原始<br>数据</div>
                </a>
            </div>
            <div class="col-md-10 column">
                <br><br>
                <div class="tabbable">
                    <!-- 一排班级标签 -->
                    <ul class="nav nav-tabs">
                        {% for class_ in classes %}
                        <li class="active">
                            <a href="{{ url_for("analyse", current_button=current_button, current_class_id=class_.id,
                   date=date, time_start=time_start, subject_id=subject_id) }}">{{ class_ }}</a>
                        </li>
                        {% endfor %}
{#                        <li>#}
                        {#                            <a href="{{ url_for("analyse", current_button=current_button, current_class_id=current_class_id,#}
{#                   date=date, time_start=time_start, subject_id=subject_id) }}">1班</a>#}
{#                        </li>#}
{#                        <li>#}
                        {#                            <a href="{{ url_for("analyse", current_button=current_button, current_class_id=current_class_id,#}
{#                   date=date, time_start=time_start, subject_id=subject_id) }}">2班</a>#}
{#                        </li>#}
                    </ul>
                    <!-- 标签的body，加载表格 -->
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="panel-group">
                                {% block main_windows %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    </body>
{% endblock %}
<!-- 重写 block btn_back 不继承那个按钮 -->
{% block btn_back %}
{% endblock %}