<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
{% endblock %}

<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>



{% block body %}
    <body>

    </body>
{% endblock %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 column">
            <a href="/">
                <button type="button" class="btn btn-default btn-lg" style="color:brown">
                    <span class="glyphicon glyphicon-log-out"></span></button>
            </a>
        </div>
        <div class="col-md-1 column">
            {% for msg in get_flashed_messages() %}
                <div class="alert alert-danger fade in" style="   width: 250px;height: 46px">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="login-box-msg">{{ msg }}</strong></div>

            {% endfor %}
        </div>
    </div>
</div>

</html>