{% extends "base_for_analyse.html" %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>原始数据</title>
    </head>
{% endblock %}

{% block main_windows %}

    <table class="table">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            {% for key in ["选择题","填空题", "判断题", "解答题"] %}
                <th>{{ key }}总分</th>
                {% for test in data[0][key]["各小题"] %}
                    <th>{{ loop.index }}</th>
                {% endfor %}
            {% endfor %}
            <th>试卷总分</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item["学号"] }}</td>
            <td>{{ item["姓名"] }}</td>
            {% for key in ["选择题","填空题", "判断题", "解答题"] %}
                <th>{{ item[key]["总分"] }}</th>
                {% for score in item[key]["各小题"] %}
                    <td>{{ score }}</td>
                {% endfor %}
            {% endfor %}
            <th>{{ item["总分"] }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}