{% extends "base_for_analyse.html" %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>原始数据</title>
    </head>
{% endblock %}

{% block main_windows %}

    <table class="table" style="table-layout: fixed;">
        <thead>
        <tr>
            <th style="width: 90px">学号</th>
            <th style="width: 70px">姓名</th>
            <th style="width: 80px">试卷总分</th>
            {% for key in ["选择题","填空题", "判断题", "解答题"] %}
                <th style="width: 100px">{{ key }}总分</th>
                {% for test in data[0][key]["各小题"] %}
                    <th style="width: 50px">{{ loop.index }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item["学号"] }}</td>
            <td>{{ item["姓名"] }}</td>
            <th>{{ item["总分"] }}</th>
            {% for key in ["选择题","填空题", "判断题", "解答题"] %}
                <th>{{ item[key]["总分"] }}</th>
                {% for score in item[key]["各小题"] %}
                    <td>{{ score }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

<!-- 将表格文字居中的代码 -->
<script>
$("td,th").addClass("text-center");
</script>
