<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <link href="../static/css/学生菜单.css" rel="stylesheet"/>
    <link href="../static/js/学生菜单.js" rel="script"/>
    <title>学生菜单</title>
</head>
{% endblock %}

{% block body %}
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a class="btn btn-lg btn-primary btn-block active" type="button" onclick="startTest()">开始考试</a>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="alert alert-success alert-dismissable">
				 <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
				<h4>
					注意!
				</h4> <strong>考生你好！</strong>当确认开始考试后，将准备开始考试 <a class="alert-link" href="#"> 请勿中途退出！</a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a class="btn btn-block btn-success btn-lg active" type="button" href="/studentInfo">学生信息</a>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="alert alert-success alert-dismissable">
				 <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
				<h4>
					注意!
				</h4> <strong>学生你好!</strong> 你可以查看和修改自己的个人信息 <a class="alert-link" href="#">请勿透露！</a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a class="btn btn-warning btn-lg btn-block active" type="button" href="/testQuery">成绩查询</a>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="alert alert-success alert-dismissable">
				 <button class="close" aria-hidden="true" type="button" data-dismiss="alert">×</button>
				<h4>
					注意!
				</h4> <strong>学生你好!</strong>你可以查询你的成绩 <a class="alert-link" href="#">但是不允许修改</a>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <a class="btn btn-danger btn-lg btn-block active" type="button" href="logout">退出登录</a>
		</div>
	</div>
</div>













<br>
<div>
    <table class="table">
        <tr class="table_header">
            <td>name</td>
            <td>subject</td>
            <td>date</td>
            <td>time_start</td>
            <td>time_end</td>
        </tr>
        {% for plan in plans %}
            <tr class="row1">
                <td>{{ plan.name }}</td>
                <td>{{ plan.subject }}</td>
                <td>{{ plan.date }}</td>
                <td>{{ plan.time_start }}</td>
                <td>{{ plan.time_end }}</td>
                <td><a href="{{ url_for('createPage', id_plan=plan.id)}}">开始考试</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}
</html>