<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册页面</title>
</head>
<body>
{% macro render_field(field) %}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<form action="/studentRegister" method="post">
    {{ form.id.label }}{{ form.id }}
    {{ form.name.label }}{{ form.name }}
    {{ form.college.label }}{{ render_field(form.college, id='college') }}
    {{ form.major.label }}{{ render_field(form.major, id='major') }}
    {{ form.grade.label }}{{ render_field(form.grade, id='grade') }}
    {{ form.classes.label }}{{ render_field(form.classes, id='classes') }}
    {{ form.csrf_token }}
    {{ form.password.label }}{{ form.password }}
    {{ form.ensure_password.label }}{{ form.ensure_password }}
    {{ form.submit }}
</form>
</body>
<script src="../static/js/jquery.js" type="text/javascript"></script>
<script src="../static/js/学生注册页面.js" type="text/javascript"></script>
</html>