<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/学生菜单.css" rel="stylesheet"/>
    <link href="../static/js/学生菜单.js" rel="script"/>
    <title>学生菜单</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<a onclick="startTest()">开始考试</a>
<a href="/studentInfo">学生信息</a>
<a href="/testQuery">成绩查询</a>
<a href="/logout">退出登录</a>
<div>
    <ul>
        {% for test in tests %}
            <li><a href="/testPage/" +test.page_id>test.page_name</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>