<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册页面</title>
</head>
<body>
<form action="/studentRegister" method="post">
    {{ form.id.label }}{{ form.id }}
    {{ form.name.label }}{{ form.name }}
    {{ form.college.label }}{{ form.college }}
    {{ form.major.label }}{{ form.major }}
    {{ form.grade.label }}{{ form.grade }}
    {{ form.classes.label }}{{ form.classes }}
    {{ form.csrf_token }}
    {{ form.password.label }}{{ form.password }}
    {{ form.ensure_password.label }}{{ form.ensure_password }}
    {{ form.submit }}
</form>
</body>
</html>