<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/学生菜单.css" rel="stylesheet"/>
    <link href="../static/js/学生菜单.js" rel="script"/>
    <title>学生菜单</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<a onclick="startTest()">开始考试</a>
<a href="/studentInfo">学生信息</a>
<a href="/testQuery">成绩查询</a>
<a href="/logout">退出登录</a>
<br>
<div>
    <table class="table">
        <tr class="table_header">
            <td>name</td>
            <td>subject</td>
            <td>date</td>
            <td>time_start</td>
            <td>time_end</td>
        </tr>
        {% for plan in plans %}
            <tr class="row1">
                <td>{{ plan.name }}</td>
                <td>{{ plan.subject }}</td>
                <td>{{ plan.date }}</td>
                <td>{{ plan.time_start }}</td>
                <td>{{ plan.time_end }}</td>
                <td><a href="{{ url_for('createPage', id_plan=plan.id)}}">开始考试</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>