<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>教师信息页面</title>
</head>
{% endblock %}

{% block body %}
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<form action="/teacherInfo" method="post">
    {{ form.id.label }}{{ form.id }}
    {{ form.name.label }}{{ form.name }}
    {{ form.csrf_token }}
    {{ form.pre_password.label }}{{ form.pre_password }}
    {{ form.new_password.label }}{{ form.new_password }}
    {{ form.ensure_password.label }}{{ form.ensure_password }}
    {{ form.submit }}
</form>
</body>
{% endblock %}
</html>