{% import 'bootstrap/wtf.html' as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师创建考试页面</title>
</head>
<body>
{% block content %}
    <form action="/testCreater" method="post">
        {{ form.date.label }}{{ form.date }}
        {{ form.start_time.label }}{{ form.start_time }}
        {{ form.end_time.label }}{{ form.end_time }}
        {{ form.subject.label }}{{ form.subject }}
        {{ form.class_.label }}{{ form.class_ }}
        {{ form.submit }}
    </form>
{% endblock %}
</body>
</html>