{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>教师创建考试页面</title>
</head>
{% endblock %}


{% block body %}
<body>
{{ wtf.quick_form(form,url_for('testCreater'), form_type="horizontal",horizontal_columns=('lg', 1, 5)) }}

{#    <form action="/testCreater" method="post" class="form-horizontal">#}
{#        {{ form.date.label }}{{ form.date }}#}
{#        {{ form.start_time.label }}{{ form.start_time }}#}
{#        {{ form.end_time.label }}{{ form.end_time }}#}
{#        {{ form.subject.label }}{{ form.subject }}#}
{#        {{ form.class_.label }}{{ form.class_ }}#}
{#        {{ form.choice_question_number.label }}{{ form.choice_question_number }}#}
{#        {{ form.fill_blank_question_number.label }}{{ form.fill_blank_question_number }}#}
{#        {{ form.true_false_question_number.label }}{{ form.true_false_question_number }}#}
{#        {{ form.free_response_question_number.label }}{{ form.free_response_question_number }}#}
{#        {{ form.Expected_difficulty.label }}{{ form.Expected_difficulty }}#}
{#         {{ form.submit }}#}
{#    </form>#}

</body>
{% endblock %}
</html>