<!DOCTYPE html>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>教师注册页面</title>
</head>
{% endblock %}


{% block body %}
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
{{ wtf.quick_form(form,url_for('teacherRegister'), form_type="horizontal",horizontal_columns=('lg', 1, 5)) }}
{#<form action="/teacherRegister" method="post">#}
{#    {{ form.id.label }}{{ form.id }}#}
{#    {{ form.name.label }}{{ form.name }}#}
{#    {{ form.csrf_token }}#}
{#    {{ form.password.label }}{{ form.password }}#}
{#    {{ form.ensure_password.label }}{{ form.ensure_password }}#}
{#    {{ form.submit }}#}
{#</form>#}
</body>
{% endblock %}
</html>