<!DOCTYPE html>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>教师考试计划页面</title>
</head>
{% endblock %}


{% block body %}
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
            {% for msg in get_flashed_messages() %}
            <p class="alert alert-dismissable alert-info">{{ msg }}</p>
            {% endfor %}
            {{ wtf.quick_form(form,url_for('testCreater'), form_type="horizontal") }}
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>











{#    <form action="/testCreater" method="post">#}
{#        {{ form.date.label }}{{ form.date }}#}
{#        {{ form.start_time.label }}{{ form.start_time }}#}
{#        {{ form.end_time.label }}{{ form.end_time }}#}
{#        {{ form.subject.label }}{{ form.subject }}#}
{#        {{ form.class_.label }}{{ form.class_ }}#}
{#        {{ form.submit }}#}
{#   </form>#}




</body>
{% endblock %}
{% block btn_back %}
{% endblock %}
</html>