<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/登录页面.css" rel="stylesheet"/>
    <link href="../static/js/登录页面.js" rel="script"/>
    <title>登录页面</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<form action="/login" method="post">
    {{ form.id.label }}{{ form.id }}{{ form.role }}<br>
    {{ form.password.label }}{{ form.csrf_token }}{{ form.password }}{{ form.remember_me }}{{ form.remember_me.label }}<br>
    <a onclick="signUp()">注册</a>
    {{ form.login }}
</form>
<a href="/teacherSignUp">我是教师</a>
<a href="/studentSignUp">我是学生</a>
</body>
</html>