<!DOCTYPE html>
{% extends "extends.html" %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>

</head>
{% endblock %}

{% block  body%}
<body>
{% for msg in get_flashed_messages() %}
    <p class="login-box-msg">{{ msg }}</p>
{% endfor %}
<form action="/login" method="post" class="form-horizontal">
    <div class="form-group">{{ form.id.label(class_="col-sm-1 control-label glyphicon glyphicon glyphicon-user") }}<div class="col-sm-4">{{ form.id(class_="form-control") }}</div>{{ form.role }}</div>
    <div class="form-group ">{{ form.password.label(class_="glyphicon glyphicon-tree-conifer col-sm-1 control-label ") }}<div class="col-sm-4">{{ form.csrf_token(class_="form-control") }}{{ form.password(class_="col-sm-12") }}</div></div>
    <div class="form-group">{{ form.remember_me }}{{ form.remember_me.label(class_="col-sm-1 control-label") }}</div>
    <button onclick="signUp()" style="margin-left: 30px" >注册</button>
    {{ form.login(type_="button") }}
</form>
<div>
<a href="/teacherRegister"><p class="text-left">我是教师</p></a>
<a href="/studentRegister">我是学生</a>
    </div>
</body>
{% endblock %}
</html>