<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "extends.html" %}
<html>
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="职业资格类导游资格考试系统,导游服务能力导游特殊问题处理及应变能力试卷,考试答案,考试成绩,考试分析">
    <meta name="description"
          content="考试(导游资格考试): 2012年导游资格考试《导游特殊问题处理及应变能力》模拟试题一试卷与试题,职业资格类导游资格考试导游服务能力导游特殊问题处理及应变能力试卷与试题-来自考试酷网站上的试卷">
    <title>考试 - 2012年导游资格考试《导游特殊问题处理及应变能力》模拟试题一-导游服务能力导游特殊问题处理及应变能力试卷与试题-考试酷(examcoo)</title>
    <style type="text/css">#loader {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #9099AE;
        z-index: 999;
        font-size: 1.2em;
        line-height: 1.5em;
        vertical-align: center;
    }

    #loaderInner {
        padding: 5px;
        position: relative;
        left: 0;
        top: 0;
        width: 175px;
        background: #88CC88;
        color: #fff;
    }</style>
    <link rel=stylesheet href="https://img.examcoo.com/1444/themes/metro/v1_l.css" type="text/css">
</head>

{% endblock %}


{% block body %}
<body>
<div id="loader">
    <div id="loaderInner">正在载入试卷 ...</div>
</div>
<script type="text/javascript">
    var baseUrl = "";
    var imgDomain = "https://img.examcoo.com/1444";
    var aliyunPubDomain = "https://img.examcoo.com";
    var qrcodeUrl = "aHR0cHM6Ly93d3cuZXhhbWNvby5jb20vZWRpdG9yL2RvL2V4YW0vaWQvMTI5Mzgy";
    var gExamState = 0;
    var fromAction = 'exam';
    var leid = "70931020";
    var tokenleid = "576b1aa8d7de0c57dc8392c90e289262";
    var tid = "0";
    var uid = "0";
    var phpUid = "0";
    var userName = "";
    var widthType = 1;
    var fontFamily = 1;
    var elapsedtime = 0;
    var isCountdown = 0;
    var limitedtime = 150;
    var ip = "211.95.6.66";
    var bPreview = 0;
    var pid = "129382";
    var israndomrule = "0";
    var authorId = "100472";</script>
<div id="desk" class="examDesk1">
    <div id="topBar">
        <div id="navibar">
            <table border="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <div class="naviTitle"><img src="https://img.examcoo.com/1444/themes/metro/images/v1_3q.gif"
                                                    width="14" height="22" class="imglinehead">考试
                        </div>
                        <span class="naviState"><a title="考试酷(examcoo)在线考试系统" href="/" target="_self">考试酷</a><span
                                class="notvisibleon600">&nbsp;&gt;&nbsp;<a title="职业资格考试系统,职业资格试卷与试题"
                                                                           href="/index/detail/mid/2">职业资格类</a></span><span
                                class="notvisibleon600">&nbsp;&gt;&nbsp;<a title="导游资格在线考试系统"
                                                                           href="/index/detail/mid/2#s9">导游资格考试</a></span>&nbsp;&gt;&nbsp;<a
                                title="导游服务能力导游特殊问题处理及应变能力试卷与试题"
                                href="/paperlist/index/k/414/p/1">导游服务能力导游特殊问题处理及应变能力试卷</a></span></td>
                    <td align="right" valign="top" width="120">
                        <div class="jumpLinkArea"><a title="切换到查阅" href="/editor/do/view/id/129382"
                                                     target="_blank"><span class="toViewOn">&nbsp;</span></a>&nbsp;<span
                                title="切换到测试" class="toExamOff">&nbsp;</span>&nbsp;<a title="切换到逐题练习"
                                                                                      href="/editor/do/exercise/pid/129382"
                                                                                      target="_blank"><span
                                class="toExerciseOn">&nbsp;</span></a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="center" class="hasPadding">
        <div id="webEditor">
            <div id="toolBar"></div>
            <div id="paperContent" class="fontSimsum"></div>
            <div id="controlPane">
                <div id="controlBar"></div>
                <div id="timerBar"><span id='sayHello'></span>&nbsp;&nbsp;<img
                        src='https://img.examcoo.com/1444/themes/metro/images/v1_3p.gif' width="11" height="11">
                    &nbsp;<span id='timer'>00:00:00</span></div>
                <div style='clear:both;'></div>
            </div>
        </div>
    </div>
</div>
<script data-main="https://img.examcoo.com/1444/js/meditor/build-exam"
        src="https://img.examcoo.com/1444/js/libs/require.js"></script>
<noscript>
    <iframe src="/error/*.html"></iframe>
</noscript>
</body>

{% endblock %}
</html>