<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <link href="../static/js/考试页面.js" rel="script"/>
    <link href="../static/js/jquery.js" rel="script"/>
    <title>考试页面</title>
</head>
{% endblock %}


{% block body %}
<body>
<form action="/get_score" method="post">
    {% for key in contents.keys() %}
        {{ key }}
        {% for item in contents[key]  %}
    <textarea readonly="readonly">{{ item.question }}</textarea>
        <br>
        <input name="{{ item.id }}">
        <br>
    {% endfor %}
{% endfor %}
    <input type="submit" value="交卷">
</form>
</body>
{% endblock %}
</html>