<!DOCTYPE html>
{% extends "base_B.html" %}
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>考试查询页面</title>
        <link href="C:/Users/Administrator/Desktop/bootstrap/bootstrap-4.3.1-dist/css" rel="stylesheet">

    </head>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-8 column" >
                {% for msg in get_flashed_messages() %}
                    <p class="login-box-msg">{{ msg }}</p>
                {% endfor %}
                {% for msg in get_flashed_messages() %}
                    <div class="alert alert-danger fade in" style="   width:100%;height: 46px">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong class="login-box-msg">{{ msg }}</strong></div>
                {% endfor %}
   <table class="table">
                    <tr class="table_header">

                        <td>
                            日期
                        </td>
                        <td>
                            开始时间

                        </td>
                        <td>
                            科目
                        </td>
                        <td>
                            分数
                        </td>
                    </tr>
                    {% for page in pages %}
                        <tr class="row1">
                            <td>
                                <a href="">{{ Plan.query.get(page.id_plan).date }}</a>
                            </td>
                            <td>
                                {{ Plan.query.get(page.id_plan).time_start }}
                            </td>
                            <td>
                                {{ Subject.query.get(Plan.query.get(page.id_plan).id_subject).name }}
                            </td>
                            <td>
                                {{ page.code }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>            </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>

{% endblock %}