<!DOCTYPE html>
{% extends "extends.html" %}
<html lang="en">
{% block head %}
<head>
    <title>Title</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
</head>
{% endblock %}

{% block body %}
<body>
<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">

					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="/login/">Main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>

				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Welcome!
					</h1>
					<table class="table">
						<tr class="table_header">

							<td>
								日期
							</td>
							<td>
                                开始时间

							</td>
							<td>
								结束时间
							</td>
							<td>
								科目
							</td>
                            <td>
                                班级
							</td>
						</tr>
                        {% for item in plans %}
						<tr class="row1">
							<td>
                                <a href="/look/?username={{ item.date }}">{{ item.date }}</a>
							</td>
							<td>
								{{item.time_start }}
							</td>
							<td>
								{{ item.time_end }}
							</td>
                            <td>
                                {{ item.id_subject }}
                            </td>
                            <td>
                                {{ item.classes }}
                            </td>
							<td>
								<a href="/delete/?id={{ item.id }}">删除</a>
								<a href="/change/?id={{ item.id }}">修改</a>
							</td>

						</tr>
                         {% endfor %}
					</table>
					<p>
						<input type="button" class="button" value="退出系统"
							onclick="location='login.html'" />
					</p>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
</body>
{% endblock %}
</html>