<!DOCTYPE html>
{% extends "base_for_teacher.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>考试列表</title>
    </head>
{% endblock %}


{% block main_windows %}
    <div id="wrap">
        <div id="top_content">
            <div id="header">
                <div id="rightheader">

                </div>

                <div id="navigation">
                </div>
            </div>

            <div id="content">
                <p id="whereami">
                </p>

                <table class="table">
                    <tr class="table_header">
                        <td>
                            名称
                        </td>

                        <td>
                            日期
                        </td>
                        <td>
                            开始时间

                        </td>
                        <td>
                            持续时间
                        </td>
                        <td>
                            科目
                        </td>
                        <td>
                            班级
                        </td>
                        <td>
                            操作
                        </td>
                    </tr>
                    {% for page in pages %}
                        <tr class="row1">
                            <td>
                                {{ page["page"].name }}
                            </td>
                            <td>
                                {{ page["page"].date }}
                            </td>
                            <td>
                                {{ page["page"].time_start }}
                            </td>
                            <td>
                                {{ page["page"].time_length // 60 }}分钟
                            </td>
                            <td>
                                {{ page["page"].teacher_s_s.student_subject.subject.name }}
                            </td>
                            <td>
                                {% for class_id in page["classes"] %}
                                    {{ Class.query.get(class_id).name }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="/delete/?id={{ page["page"].id }}">删除</a>
                                <a href="{{ url_for("analyse", current_button="统计数据", current_class_id=0,
                   date=page["page"].date, time_start=page["page"].time_start, subject_id=page["page"].teacher_s_s.student_subject.subject.id) }}">分析</a>
                            </td>

                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

    </div>
{% endblock %}
{% block btn_back %}
{% endblock %}