<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>考试查询页面</title>
        <link href="C:/Users/Administrator/Desktop/bootstrap/bootstrap-4.3.1-dist/css" rel="stylesheet">

    </head>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-8 column" >
                {% for msg in get_flashed_messages() %}
                    <div class="alert alert-danger fade in" style="   width:100%;height: 46px">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong class="login-box-msg">{{ msg }}</strong></div>
                {% endfor %}
                <!--考试列表-->
                <div id="show_test_plan">
                    <table class="table">
                        <tr class="table_header">
                            <td>名称</td>
                            <td>科目</td>
                            <td>日期</td>
                            <td>开始时间</td>
                            <td>剩余时间</td>
                        </tr>
                        {% for page in pages %}
                            <tr class="row1">
                                <td><a href="{{ url_for('testCheck', page_id=page.id) }}">{{ page.name }}</a></td>
                                <td>{{ page.teacher_s_s.student_subject.subject.name }}</td>
                                <td>{{ page.date }}</td>
                                <td>{{ page.time_start }}</td>
                                <td>{{ page.rest_time // 60 }}分钟</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>

{% endblock %}