{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>welcome to 考试页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/考试页面.css">

{% endblock %}

{% block body %}
    <body style="background: url(../static/image/背景/黑板上的学习几何解题摄影图片_彼岸图网.jpg)  no-repeat ; background-size: cover">
    <div class="container">
        <div class="col-md-2 column">
        </div>
        <script>let dic = {}</script>

        <div class="col-md-8 column " style="background:#e0e0d1">

            <form id="form" action="/get_score" method="post" onsubmit="return hg({{ test_num }})">

                <p>{% for key in contents.keys() %}</p>
                    <span class="label label-default col-sm-2">{{ key }}</span><br>
                    {% for item in contents[key] %}
                        <!-- 题号放在span里面 方便设置锚点 -->
                        <span id="{{ 'test_'+[item.id]|join }}">{{ loop.index }}.</span>
                        <textarea id="text" readonly="readonly" class="col-md-12 column " contenteditable="false"
                                  rows="{{ item.question.count('\n',0) + 2 }}"
                                  style="text-align:left;border-color: moccasin">{{ item.question }}</textarea>
                        <br>
                        {% if key=='选择题' %}

                            <dd>
                                <label><input type="radio" name="{{ item.id }}" value="A"
                                              onchange=show_test_panel("{{ item.id }}")>A</label>
                                <label><input type="radio" name="{{ item.id }}" value="B"
                                              onchange=show_test_panel("{{ item.id }}")>B</label>
                                <label><input type="radio" name="{{ item.id }}" value="C"
                                              onchange=show_test_panel("{{ item.id }}")>C</label>
                                <label><input type="radio" name="{{ item.id }}" value="D"
                                              onchange=show_test_panel("{{ item.id }}")>D</label>
                                <label><input type="radio" name="{{ item.id }}" value="" hidden checked></label>
                            </dd>
                        {% elif key == '判断题' %}
                            <label><input type="radio" name="{{ item.id }}" value="0"
                                          onchange=show_test_panel("{{ item.id }}")>√</label>
                            <label><input type="radio" name="{{ item.id }}" value="1"
                                          onchange=show_test_panel("{{ item.id }}")>×</label>
                            <label><input type="radio" name="{{ item.id }}" value="" hidden checked></label>
                        {% else %}
                            <input name="{{ item.id }}" style="border-top:0px ;"
                                   onchange=show_test_panel("{{ item.id }}")>
                        {% endif %}
                        <br> {% endfor %}
                {% endfor %}
                <button id="submit" type="submit" value="交卷">交卷</button>
            </form>
        </div>
        <div class="col-md-2 column">

            <div id="rest_time" style="font-size:50px;color:red;position: fixed"></div>


        </div>

    </div>
    <!-- 答题面板 -->
            <div class="test_panel">
                {% for key in contents.keys() %}
                        <div class="test_type">
                            <p>{{ key }}</p>
                            {% for item in contents[key] %}
                                <a href="{{ '#test_'+[item.id]|join }}">
                                    <span class="test_flag" id="{{ 'flag_'+[item.id]|join }}">{{ loop.index }}</span>
                                </a>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>

    </body>
    <div id="data_" hidden data-rest_time="{{ rest_time }}" data-answer='{{ answer }}'></div>
    <script src="../static/js/考试页面.js" type="text/javascript"></script>
{% endblock %}