{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>试卷复查页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/试卷复查页面.css">

{% endblock %}

{% block body %}
    <body style="background: url(../static/image/背景/黑板上的学习几何解题摄影图片_彼岸图网.jpg)  no-repeat ; background-size: cover">
    <div class="container">

        <div class="col-md-2 column">

        </div>

        <div class="col-md-8 column " style="background:#e0e0d1">
            <!-- 试卷区域 -->
            <div class="page_area">
                {% for key in contents.keys() %}
                    <div class="page_test_type">
                        <p>{{ key }}</p>
                        {% for item in contents[key] %}
                            <div class="test">
                                <!-- 题号 -->
                                <span id="{{ 'test_'+[item.id]|join }}" class="test_num">{{ loop.index }}</span>
                                <!-- 对错标志 -->
                                <span class="test_flag">
                                    {% if item.flag=='right' %}
                                        <img src="../static/image/标志图片/success.png"/>
                                    {% else %}
                                        <img src="../static/image/标志图片/error.png"/>
                                    {% endif %}
                                </span>
                                <!-- 题目 -->
                                <div class="test_area">
                                    {#                                    <textarea class="textarea">{{ item.question }}</textarea>#}
                                    <textarea id="text" readonly="readonly" class="textarea" contenteditable="false"
                                              rows="{{ item.question.count('\n',0) + 2 }}"
                                              style="text-align:left;overflow-y:visible;border-color: moccasin">{{ item.question }}</textarea>
                                    <p>标准答案：{{ item.answer }}</p>
                                    <p>我的答案：<span class="{{ item.flag }}_answer">{{ item.my_answer }}</span></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-2 column">
            <!-- 分数 -->
            <div id="show_code">你的分数是：<br>{{ code }}分</div>
            <!-- 错题面板 -->
            <div class="test_panel">
                {% for key in contents.keys() %}
                    <div class="flag_test_type">
                        <p>{{ key }}</p>
                        {% for item in contents[key] %}
                            <a href="{{ '#test_'+[item.id]|join }}">
                                <!-- CSS根据item.flag的不同来分别上色 -->
                                {% if item.flag=='right' %}
                                    <span class="right_flag">{{ loop.index }}</span>
                                {% else %}
                                    <span class="wrong_flag">{{ loop.index }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
    </body>
{% endblock %}
</html>