<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>试卷复查页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>无标题文档</title>
    <script src="../static/js/jquery.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#flt").hover(function () {
                $("#flt").animate({right: "0px"}, 300);
            }, function () {
                $("#flt").animate({right: "-150px"}, 300);
            });
        });
    </script>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
{% endblock %}

{% block body %}
<body>


</body>

{% endblock %}
</html>